.Node {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    font-family: 'Roboto Mono', monospace;

}

.Node li {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    
}

.Node ul {
    list-style: none;
}


.Node .NoChild::before {
    content: "\21E2  ";
    color: black;
}

.Node .Close::before {
    cursor: pointer;
    content: "\2192  ";
    color: black;
    font-weight: 900;

}

.Node .Open::before {
    cursor: pointer;
    font-weight: 900;
    content: "\21A6  ";
    color: black;

}

.OperationsButton {
    align-self: flex-start;
    cursor: pointer;
    outline: none;
    border: none;
    margin: auto;
    background-color: white;
}